---
Checks: >
   *,
   -altera-*,
   -llvmlibc-*,
   -readability-identifier-length,
   -concurrency-mt-unsafe,
   -llvm-header-guard,
   -fuchsia-default-arguments-calls,
   -fuchsia-default-arguments-declarations,

WarningsAsErrors: "*"

CheckOptions:
   - { key: hicpp-signed-bitwise.IgnorePositiveIntegerLiterals, value: true }
   - { key: readability-identifier-naming.FunctionCase, value: lower_case }
   - { key: readability-identifier-naming.VariableCase, value: lower_case }
   - { key: readability-identifier-naming.EnumCase, value: lower_case }
   - { key: readability-identifier-naming.MacroDefinitionCase, value: UPPER_CASE }

FormatStyle: file
